@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/*
General
 */

body{
    margin: 0;
    font-family: Roboto, "serif";
    background-color: #e2e2e2;
}

h1{
    display: inline;
    margin-right: 10px;
}

#header{
    padding: 50px 30px;
    background-color: white;
}

#header h2{
    margin-top: 0.83em;
    margin-bottom: 0;
}

#projectTitle{
    display: inline-block;
    vertical-align: 15px;
    margin-left: 20px;
}

#projectLogo{
    display: inline-block;
    overflow: auto;

}

#projectLogo img{
    max-height: 50px;
    max-width: 50px;
    height: auto;
    width: auto;
}

#homeLink{
    display: inline-block;
    margin-left: 20px;
    vertical-align: 15px;
}

#backUri{
    margin-top: 20px;
    text-align: center;
}

ul{
    list-style-type: none;
}

#types{
    vertical-align: 15px;
    display: inline-block;
    margin-left: 20px;
}

#types ul{
    display: inline;
}

#types ul, ul.properties {
    margin: 0;
    padding: 0;
}

#types li{
    display: inline;
    margin-right: 10px;
}

#types a{
    color: #dd855c;
    font-weight: bold;
}

.hidden{
    display: none;
}

#description{
    text-align: center;
}

/*
Content
 */

#content{
    width: 100%;
    overflow: auto;
}

.attributeTypeTitle{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid 1px;
}

@media (max-width: 915px) {
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
}

.alignedTop{
    vertical-align: top;
    color: #dd855c;
    font-weight: bold;
    pointer-events: auto;
}

.predicate{
    padding: 5px 0;
}

.bnodeTypes{
    display: inline-block;
}

.sameAs{
    display: inline;
    margin: 0 15px;
}

/*
Links
 */

a {
    word-wrap: break-word;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/*
Collapsible lists
 */

.hidden{
    display: none;
}

.displayed{
    display: list-item;
}

.collapseButton {
    display: inline-block;
    border-radius: 4px;
    background-color: #dd855c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.values{
    padding: 10px 0;
}

.values ul{
    overflow: auto;
    max-height: 250px;
}

/*
Map
 */

#contentMap{
    height: 400px;
    width: 100%;
    margin: auto;
}

#map{
    height: 100%;
}

/*
Resource Image
 */

#resourceImg{
    max-width: 250px;
    max-height: 250px;
}

/*
Flex
 */

.flex-container{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 30px 100px;
}

.flex-element{
    height: auto;
    margin: 10px auto;
    width: 350px;
    background-color: white;
    padding: 10px 30px;
    box-shadow: 10px 10px 5px #888888;
}

/*
Prefixes
 */

#prefixes{
    padding: 10px 30px;
    margin: auto;
    text-align: center;
}

#prefixes ul{
    padding: 0;
}

/*
Data Button
 */

#dataLink {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 100px 0 30px 0;
}

#dataButton {
    background-color: #dd855c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*
Change View Selector
 */

.radio-group {
    border: solid #dd855c;
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 35px 0 30px 0;
    min-width: 263px;
}

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

label {
    color: #332f35;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
}

input[type=radio]:checked + label{
    color: #FFFFFF;
    background: #dd855c;
}

label + input[type=radio] + label {
    border-left: solid #dd855c;
}
